* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
}

.contenedor div {
    width: 4px;
    height: 4px;
}